
<style>
/*button for update*/
.btn-group button {
	
    background-color: #00264d; /* Violet background */
    border: 1px solid #00264d; /* Violet border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
	
}

.button_cursor
{

   background-color: #00264d;
    color: white;
    padding: 8px 0px;
    margin: 0px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}
/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */

}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #B19CD9;
}
.edit_button,
/*LOGIN*/

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #00264d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 90%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
/*for login*/
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
.match-1-1{
    margin-top: 5%;
    font-size: 33px;
}
.match-2-1{
    font-size: 33px;    
}
.match-2-2{
    font-size: 33px;    
}
.match-3-1{
    font-size: 33px;    
}
.match-3-2{
    font-size: 33px;    
}
.match-3-3{
    font-size: 33px;    
}
.match-3-4{
    font-size: 33px;    
}
.clasament-afisare-grupa{
    
    font-weight: bold;
    color : white;
}
.tablematches th{
    background-color: #00264d;
    border : 1px solid white;
    text-align: center;
    font-weight: bold;
    color : white;
}
.tablematches td{
    text-align: center;
    color : white;
}
.tablematches img{
    width: 50px;
    height: 50px;
}
#scorescontainer {
    width:100%;
    text-align:center;
}

#leftimg {
    float:left;
    height:30px;
    margin-bottom: 10%;
}

#centerscore {
    display: inline-block;
    height:30px;
    margin-top: 8%;
}

#rightimg {
    float:right;
    height:30px;
    margin-bottom: 10%;
}
.reviewpoll a{
    text-decoration: none;
    color: white;
}
.reviewblock{
    display:table;
    width: 100%;
    color: white;
}
.review{
   float:left;
   border-right: 1px solid white;
   width: 16.5%;
}
.review-right-side{
    width: 82%;
    margin-left: 18%;
}
.review-text{
    width:80%;
    float:left;
}
.review-edit-delete{
    text-align: center;
    width: 8%;
    float:right;
    border: 1px solid white;
}
.poll-body { 
	font-size: 62.5%; 
	font-family: Georgia, serif;
}
.poll-body h6 {
	font-size: 1.4em;
	margin-bottom: 15px;
}
.poll-body a { color: white; }
.poll-body label, li {
	display: block;
	padding: 5px;
	font-size: 1.4em;
	color: #e3f1fa;
}
fieldset {
	margin: 115px auto;
	width: 300px;
	padding: 8px 15px 15px 15px;
	border: 1px solid white;
	display: block; 
	}
legend {
        margin-left: 45px;
		padding: 4px 6px 4px 6px;
		border: 1px solid white;
		font-size: 2.0em;
		color: #e3f1fa;
		font-style: italic;
}
.poll-body ul { list-style: none; margin-bottom: 15px;}
.results-bar {
	padding: 10px;
	color: white;
	white-space: nowrap;
}
span.total-votes {
	font-size: 2.6em;
}
.result {
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff8080), to(#aa1317));
    background: -moz-linear-gradient(top,  #ff8080,  #aa1317);
    -pie-background: linear-gradient(#ff8080, #aa1317);
    border:1px red solid;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    clear:both;
    color:#EFEFEF;
    padding-left:85px;
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

td {
    width: 250px;
    border: 1px solid #CCC;
    padding: 10px;
}
table{

	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}




 /*Register*/

/* Full-width input fields */
input[type=text], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.alert {
	width: 25%;
	 border: 1px solid #CCC;
	 padding: 15px;
}


body  {
   background-image: url("http://cdn.tvguide.co.uk/_ui/images/champions-league/BG.jpg");
    background-color: #6b6a6a;
	 background-blend-mode: multiply;
	background-size: 100% auto;

	
	
}
image{
	 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.footer {
    position:fixed;
    bottom:0;
    color : white;
    margin-left:37.5%;
}

</style>
